
/* Body Area css ================================================= */
body {
	transition: all 0.5s ease;
	margin:0!important;
	font-family:Poppins,sans-serif!important;
	letter-spacing:1px!important;
	color:#1d1e21;
	background:#fff;
	font-weight:300; 
	margin: auto!important
}


.text-right{
	text-align: right !important;
	margin-bottom: 10px;
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.p_80 {
  padding-top: 80px;
  padding-bottom: 80px; }
  
.p_20 {
  padding-top: 20px;
  padding-bottom: 5px; }

h1{
	text-align:center!important;
	margin-top:50px!important;
	font-weight:300!important;
	font-size:3em
}

*{
	margin:0px;
	padding:0px;
}

.center{
	margin:auto!important;
	text-align:center!important
}

.vertical-center{
	min-height:100%;
	min-height:100vh;
	display:flex;
	align-items:center
}

.spacing{
	margin-top:5%;
	margin-top:5vh;
	margin-bottom:20%;
	margin-bottom:20vh
}

.title-desc{
	margin-top:20px!important;
	margin-bottom:30px!important;
	max-width:450px!important;
	font-weight:300;
	font-size:18px
}

/* Navbar Area css ================================================= */

#navbar {
  background-color: #000410;
  color: #cccccc;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
  overflow: none;
}

#navbar a {
  float: right;
  display: block;
  color: inherit;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}


#navbar a:hover {
  background-color: #88656561;
  color: inherit;
}



/* Toggle Light Mode Area css ================================================= */
.light-mode{
	color:#777777!important;
	background:#1d1e21!important;
}

button {
	background: url(../img/moon.svg) no-repeat;
	background-size: 50%;
	color: transparent;
	box-shadow: none;
	border: none;
	width: 50px;
	height: 50px;
	background-position: center;
	position: absolute;
	cursor: pointer;
}

.light-mode button {
	background: url(../img/sun.svg) no-repeat; 
	background-position: center;
}

.light-mode avatar path{
	fill: #000
}

button:focus {
	outline:0;
}

/* Responsive Area css ================================================= */
@media only screen and (max-width: 767px) {
	.hide-on-small-screen{
		display: none;
	}
	
	.avatar {
		top: 60px;
	}
}

@media screen and (max-width: 576px) {

}

@media screen and (min-width: 575px) {

}

@media only screen and (max-width: 500px) {
	.hide-on-small-screen{
		display: none;
	}
  
	.posts_div img {
		width: 100%;
	}
	
	.avatar {
		top: 60px;
	}
}

/* Footer Area css ================================================= */
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
 }
  
.footer_area {
  background: #000410;
 }

  .f_title {
  margin-bottom: 35px;
 }

.copyright_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #cccccc;
  margin-bottom: 30px;
 }
  .copyright_widget p a {
    color: #8490ff;
}
  .copyright_widget p + p {
    margin-bottom: 0px;
}


.social_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #cccccc;
  margin-bottom: 10px;
 }
.social_widget .list li {
  margin-right: 17px;
  display: inline-block;
 }
  .social_widget .list li a {
    color: #cccccc;
    font-size: 14px;
    transition: all 300ms linear 0s;
}
  .social_widget .list li:last-child {
    margin-right: 0px; }
  .social_widget .list li:hover a {
    color: #8490ff;
}
